@font-face {
	font-family: montserrat;
	src: url("/montserrat-light-webfont.woff2") format("woff2"), url("/montserrat-light-webfont.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: montserrat;
	src: url("/montserrat-bold-webfont.woff2") format("woff2"), url("/montserrat-bold-webfont.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--blue: rgb(0, 108, 141);
	--white: #fff;
	--light: rgba(255, 255, 255, 0.87);
}

body {
	font: 300 16px montserrat, Verdana;
	color: #333;
	line-height: 1.5;
}

html,
body,
ul,
h1,
#action h3,
#reviews h2,
#contact h3 {
	margin: 0;
}

h1,
h2,
h3 {
	font-weight: 700;
}

h1,
h2 {
	line-height: 1.2;
}

#services h3 {
	font-size: 1.2rem;
}

#contact h3 {
	font-size: 1rem;
}

ul {
	padding: 0;
}

h1,
h2 {
	font-size: clamp(2rem, 2.4rem, 8vw);
}

a,
h2 {
	color: var(--blue);
}

.title,
#services li,
footer {
	text-align: center;
}

.title {
	max-width: 640px;
	margin: 0 auto 3rem;
}

h1,
#services h2,
#services h3,
.review {
	margin: 0 0 15px;
}

section:not(#hero) {
	padding: 3rem 1.5rem;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.container:not(#actionContent) {
	max-width: 1200px;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.grid {
	display: grid;
}

.self-center {
	align-self: center;
}

#action {
	background-color: var(--blue);
}

#caption {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

#action,
#caption h1 {
	color: var(--white);
}

#caption .content {
	font-size: 1.1rem
}

.text-light { color: var(--light) }

html,
body,
#caption,
#hero img {
	width: 100vw;
	overflow-x: hidden;
}

#hero img,
.h-full {
	height: 100%;
}

#hero img,
iframe {
	object-fit: cover;
}

iframe {
	width: 100%;
	border: 0;
}

#actionContent button {
	border: 0;
	color: var(--white);
	background: #ea7d00;
	padding: 15px 40px;
	font-size: 1rem;
	text-transform: uppercase;
	border-radius: 10px;
}

#services ul,
#contactContent {
	gap: 2.5rem;
}

#contactContent .inner {
	gap: 1.2rem;
}

#services li .content {
	font-size: 0.9rem;
}

#contact img {
	border-radius: 50%;
	width: 170px;
	height: 170px;
	margin: 0 auto
}

#reviews {
	background-color: #f2f2f2;
}

#reviews li {
	background-color: var(--white);
	border: 1px solid #999;
	border-radius: 10px;
	padding: 25px;
	-webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
}

img {
	max-width: 100%;
}

@media screen and (max-width: 500px) {
	#contactContent .inner { text-align: center }
}

@media screen and (min-width: 500px) {
	#contactContent .inner {
		grid-template-columns: 170px 1fr;
	}
}

@media screen and (max-width: 750px) {
	#caption,
	#hero picture {
		min-height: 100vh;
	}
	#captionContent {
		padding: 3rem 1.5rem
	}
	#actionContent {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		text-align: center;
		gap: 1.5rem
	}
}

@media screen and (min-width: 550px) and (max-width: 1100px) {
	#services ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 750px) {
	#contactContent {
		grid-template-columns: 400px 1fr;
	}
	#actionContent {
		grid-template-columns: 1fr 1fr;
	}
	#action .content {
		text-align: right;
	}
	#hero {
		min-height: 750px;
		height: 100vh;
	}
	#caption,
	#hero picture {
		height: 85vh;
		min-height: 637px
	}
	#action {
		height: 15vh;
		min-height: 112px
	}
	#captionContent { max-width: 630px }
	#actionContent {
		max-width: 700px;
		gap: 2rem
	}
}

@media screen and (min-width: 550px) and (max-width: 1100px) {
	#services ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 1000px) {
	#captionContent {
		text-align: center;
		padding: 3rem 1.5rem;
		margin: 0 auto
	}
	#reviews li + li { margin-top: 1rem }
}

@media screen and (min-width: 1000px) {
	#captionContent {
		margin-left: 8vw;
	}
	#reviews ul {
		width: 100%;
		-moz-column-count: 2;
		-moz-column-gap: 20px;
		-moz-column-width: 12vw;
		-webkit-column-count: 2;
		-webkit-column-gap: 15px;
		-webkit-column-width: 12vw;
		column-count: 2;
		column-gap: 15px;
		column-width: 12vw;
		margin-bottom: -1rem;
	}
	#reviews li {
		margin-bottom: 1rem;
	}
}

@media screen and (min-width: 1100px) {
	#services ul {
		grid-template-columns: repeat(4, 1fr);
	}
}

footer {
	background-color: rgb(19 26 80);
	padding: .3rem 1.5rem;
	font-size: .9rem
}

footer a { text-decoration: none }